body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.content_wrap{
    padding-bottom: 2.5rem;
}

.menubar {
    text-align: center;
}

.intro {
    padding: 30px;
}

h1 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

.whoami_content {
    display: flex;
    align-items:stretch;
    justify-content: left;
}

img {
    padding-right: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 2.5rem;            /* altura do rodapé */
}

.skills {
    margin-bottom: 3%;
}