.column {
    float: left;
    width: 50%;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}
  
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}
  
.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  
.feature-icon-small {
    width: 3rem;
    height: 3rem;
}  

.row {
    padding: 5%;
}
  
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}  

@media screen and (max-width: 600px) {
    img {
        width: 200%;
    }

    .icons-habilidades {
        width: 40px;
    }

    .icons-projetos {
        width: 50px;
        padding-bottom: 10px;
    }

    .icons-projetos-flask {
        width: 47px;
        padding-bottom: 10px;
    }

    .icons-projetos-gunicorn {
        width: 65px;
        padding-bottom: 10px;
    }

    .icons-projetos-html {
        width: 45px;
    }

    .icons-projetos-linux {
        width: 43px;
    }

    .icons-projetos-nginx {
        width: 43px;
    }

    .icons-projetos-python {
        width: 47px;
    }

    .home-image, .my-photo, .nav-signature, .column, .footer_board {
        width: 100%;
    }

    .apresentacao-signature {
        width: 70%;
    }
}