<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="menubar">
        {%include 'nav.html'%}
    </div>
    
    <div class="content_wrap">
        <div class="intro">
            <h2 class="intro_title"><b>Introduction</b></h2>
            <div class="intro_whoami">
                <div class="whoami_content">
                    <div class="column">
                        <img src="../static/images/chrystian-4.jpg" width="300" alt="Me">
                    </div>
                    <div class="column">
                        <div class="whoami_text">
                            <h3><b>Who am I?</b></h3>
                            <p>Professional with solid knowledge in IT infrastructure, with three years of experience in the IT market
                                work. Has good diction, ease in relating and conducting interactions with different teams, demonstrates
                                ability to adapt quickly and be proactive.</p>
                            <p>One of my main characteristics is continuous learning and development, which makes me a professional capable of
                                contributing to different operations.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Div for My Skills Session-->
            <div class="intro_myskills">
                <h3><b>What are my main skills?</b></h3>
                <div class="mainskills_list">
                    {%for i in skills%}
                        {%include 'my_skills.html'%}
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>

    <footer>
        {%include 'footer.html'%}
    </footer>

</body>

</html>