<header style="padding-top: 10px; padding-bottom: 0;">
    <h1>Chrystian Barros</h1>
</header>
<div class="container">
    <header class="d-flex justify-content-center py-1">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Introduction</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Certifications</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Technical Skills</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Professional Goals</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Projects</a></li>
      </ul>
    </header>
  </div>

  <!--class="d-flex justify-content-center py-3"-->